* {
    margin: 0;
    padding: 0;

}

body{
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;


}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}
.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}
.nav__item:hover{
    border: 2px solid #ff6767;
    cursor: pointer;
}
.container{
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}
.hero_image_container{
    width: 100%;
}
.hero_image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 /25%);
}
.hero_text{
    font-weight: 800px;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}
.hero_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.hero_description{
    width: 100%;
}
.food_card{
  
    background-color: #f9f9f9;
}
.food_card_image{
  
    width: 100%;
}
.food_image{
    border-radius: 8px;
    width: 100%;
}
.food_card_description{
padding: 15px;
}
.explore_menu_text{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800px;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}
#pizza_card{
    margin-top: -20px;
    margin-bottom: 30px;
}
@media(min-width:768px){
    .explore_menu_lists{
        margin-top: 40px;
        display: flex;
        gap: 15px;
    }
    .navbar{
        justify-content: space-between;
        padding: 10px  30px;
    }
}

@media(min-width:1024px){
    .container{
        max-width: 70%;
    }
    .navbar__brand{
        width: 150px;
    }
    .button_primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero_description{
        width: 100%;
    }
    .hero_text{
        font-size: 50px;
    }
}
